<% include header.ejs %>

<div id="login-page" class="row">
    <div class="col s4 m4 l4 xl4 offset-s4 offset-m4 offset-l4 offset-xl4">
        <div class="row">
            <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                <div class="input-field col s12 center">
                    <h4>Mot de passe oublié</h4>
                    <p class="center">You can reset your password</p>
                </div>
                </div>
                <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix pt-5">person_outline</i>
                    <input id="username" type="text">
                    <label for="username" class="center-align">Pseudo</label>
                </div>
                </div>
                <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix pt-5">lock_outline</i>
                    <input id="password" type="password">
                    <label for="password">Mot de passe</label>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <a href="index.html" class="btn waves-effect waves-light col s12">Confirmer</a>
                </div>
                <div class="input-field col s12">
                    <p class="margin sign-up"><a href="/login">Se connecter</a> <a href="/signup" class="right">S'enregistrer</a></p>
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<% include scripts.ejs %>
<% include footer.ejs %>
